<h1>{$myVar}</h1>

{* значение этой переменной не будет выведено, т.к. она является приватным свойствой представления *}
{$privateVar}

{* Вставим в страницу компонент *}
{component name="TestComponent"}

{* Вставим компонент, который выводит сообщения об ошибках *}
{component name="DisplayError"}

{* Вставим код для восстановления данных формы *}
{formrestore id="upload_form"}

<form name="upload" id="upload_form" action="index.php?action=test" enctype="multipart/form-data" method="post">
	Input text (required)<input type="text" name="text" id="text"/><br/>
	I'am agree <input type="checkbox" name="agree" id="agree" value="111"/>
	
	<input type="submit" name="sub" value="go!" /><br/>
	<input type="button" name="ajax" id="name" value="get by AJAX"/><br/>
</form>

<p id="ajaxResult"></p>

<script language="javascript" type="text/javascript">
$(document).ready(function(){
	$("#name").click(function(){
		
		$("#ajaxResult").load("index.php?view=ajax");
	});
}); 
</script>
		
