<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	{* Добавим ссылку на jQuery *}
	<script src="http://code.jquery.com/jquery-1.6.min.js" type="text/javascript" charset="UTF-8" ></script>
	
	<title>{$title}</title>
</head>

<body>
	{include file=$CURRENT_VIEW_TEMPLATE}
</body>
</html>